@import './variables/variables';
@import './mixins/mixins';
@import './placeholders/placeholders';

*, ::before, ::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


html{
    scroll-behavior: smooth;
}

body{
    width: 100%;
    max-width: 1440px;
    font-family: $body-font;
    position: relative;
}

a{
    text-decoration: none;
}

ul{
    list-style-type: none;
}

.container{
    margin-left: 135px;
    margin-right: 135px;
}

// ========================================================================

// header 
header{
    width: 100%;
    height: 70px;
    padding: 30px 0;
    position: fixed;
    top: 0;
    left: 0;
    background: transparent;
    z-index: 10;
    transition: .4s ease-out;
}

header.active{
    background: $first-color;
}


.nav-bar{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo img{
    display: block;
    width: 2rem;
}

.menu__toggle{
    display: block;

    i{
        font-size: 2rem;
        color: $light-color;
    }
}

.nav__list{
    display: flex;
    column-gap: 1rem;
}

.nav__list > li > a{
    color: $dark-color;
    font-size: 16px;
    font-weight: 500;
    cursor: pointer;
    transition: .4s;
    &:hover{
        color: $light-color;
    }
}


.active-link{
    border-bottom: 2px dashed $second-color;
    transition: .4s;
}

.menu__toggle{
    display: none;
    cursor: pointer;
}

// ======================= Main ===================

// Hero section
.section__hero{
    width: 100%;
    height: auto;
    background: $first-color;
    padding: 8rem 0;
}

.hero{
    display: flex;
    column-gap: 4rem;
}

.social{
    display: flex;
    flex-direction: column;
    row-gap: 1rem;
    margin-bottom: 4rem;

    a{
        color: $light-color;
        transition: color .4s ease-out;
        
        &:hover{
            color: $second-color;
        }
        i{
            font-size: 1.5rem;
        }
    }
}

.left-part,
.rigth-part{
    flex: 1;
}

.left-img > img{
    width: 200px;
    height: 250px;
}

.description{
    text-align: center;
    margin-top: 6rem;
    flex: 2;
}

.mentor{
    @extend %flex-position;
    column-gap: 1rem;
    margin-bottom: 2rem;

    p{
        font-size: 1.6rem;
        line-height: 12px;
        font-weight: 500;
        color: $light-color;
    }
}

.description > h1{
    font-size: 2.567rem;
    // line-height: 28px;
    font-weight: 500;
    color: $light-color;
    margin-bottom: 1rem;
    letter-spacing: 2.3px;
}

.description > p{
    color: $light-color;
    font-size: 15px;
    font-weight: 400;
    line-height: 20px;
    text-align: center;
    margin-bottom: 3rem;
}

.hero-button{
    color: $light-color;
    background: $second-color;
    padding: 10px 12px;
    border-radius: 0 15px 0 15px;
    cursor: pointer;
    transition: all .6s;
    font-size: 16px;
    border: 2px solid transparent;
}

.hero-button:hover{
    background: $first-color;
    border: 2px solid $light-color;
}

.right-part > .right-img{
    margin-bottom: 4rem;
}
.right-part > .right-img > img{
    width: 200px;
    height: 250px;
}

.right-part > .down-button{
    text-align: right;

    img{
        width: 1rem;
        animation: down 2s linear infinite;
    }

    @keyframes down{
        0%{
            transform: translateY(0px);
        }
        50%{
            transform: translateY(15px);
        }
        100%{
            transform: translateY(0px);
        }
    }
}

// Training section
.section__training{
    margin: 8rem 0;
}

.section__training > .container{
    @extend %grid-position;
    grid-template-columns: repeat(auto-fill, minmax(180px, 1fr));
    justify-content: center;
}

.about-training{
    text-align: center;
}

.about-training > h1{
    margin-bottom: 1rem;
    font-size: 1.8rem;
    color: $first-color;
    letter-spacing: 3px;
    font-weight: bold;
}

.about-training > p{
    color: $dark-color;
    font-size: 13px;
}

// Teahcer scetion
.section__teacher{
    width: 100%;
    margin-bottom: 5rem;
} 
.teacher{
    @extend %grid-position;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
}

.teacher > .teacher__description{
}

.teacher__content{
    @extend %grid-position;
    grid-template-columns: repeat(3, 1fr);
    gap: 1.3rem;
}

.teacher__description > h1{
    color: $dark-color;
    font-size: 2.5rem;
    font-weight: 500;
    margin-bottom: 1.3rem;
}

.teacher__description > p{
    color: $dark-color;
    font-weight: 500;
    font-size: 14px;
    padding: .123em;
    margin-bottom: 1.3rem;  
}

.teacher__description > a{
    color: $light-color;
    background: $first-color;
    padding: 10px 12px;
    border-radius: 0 15px 0 15px;
    cursor: pointer;
    border: 2px solid transparent;
    transition: all .6s;
    font-size: 16px;
    transition: background .4s ease-out;

    &:hover{
        background: $second-color;
    }
}

.teacher__content .box{
    text-align: center;
}

.teacher__content .box > p{
    font-size: .87rem;
    font-weight: 400;
    color: $dark-color;
}
.teacher__content .box > img {
    width: 150px;
    height: 150px;
}

// Form training
.training{
    width: 100%;
    background: $first-color;
    padding: 5rem 0;
}

.training > .form-training{
    @extend %grid-position;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    column-gap: 4rem;
    color: $light-color;
}



.form-training > .part-left > img{
    width: 100%;
}

.training .part-left {
    position: relative;

    .dashed-contour{
        position: absolute;
        border: 2px dashed $light-color;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        transform: translate(20px, -20px);
        border-radius: 0 120px 0 0;   
    }

}

.form-training > .part-right > h1{
    font-size: 2.5rem;
    letter-spacing: 3px;
    font-weight: 500;
    margin-bottom: 1.3rem;
}

.form-training > .part-right >  p{
    font-weight: 400;
    font-size: 14px;
    margin-bottom: 1.3rem;
}

.form-training > .part-right > a{

    color: $light-color;
    background: $second-color;
    padding: 7px 20px;
    border-radius: 0 15px 0 15px;
    cursor: pointer;
    border: 2px solid transparent;
    transition: all .6s;
    font-size: 16px;
    transition: background .4s ease-out;
    border: 2px solid transparent;

    &:hover{
        background: $first-color;
        border: 2px solid $light-color;
    }
}

.cours{
    width: 100%;
    margin: 5rem 0;
}

.cours-section {
    @extend %flex-position;
    flex-direction: column;
}

.cours-section > h1{
    font-size: 2.5rem;
    letter-spacing: 3px;
    font-weight: 500;
    margin-bottom: 1.3rem;
    text-align: center;
    color: $dark-color;
}

.cours-content{
    @extend %flex-position;
    flex-wrap: wrap;
}

.cours-content > a{
    max-width: 250px;
    padding: 0 10px;
    transition:  transform .4s ease-out;

    &:hover{
        transform: translate(7px, -7px);
    }
}
.cours-content > a > img {
    max-width: 250px;
}

.cours-section > .btn-cours{
    color: $light-color;
    background: $first-color;
    padding: 7px 20px;
    border-radius: 0 15px 0 15px;
    cursor: pointer;
    border: 2px solid transparent;
    transition: all .6s;
    font-size: 16px;
    transition: background .4s ease-out;

    &:hover{
        background: $second-color;
    }
}

// consulting
.consulting{
    width: 100%;
    background: url('../../imgs/12.png');
    background-size: cover;
    background-position: right;
    background-repeat: no-repeat;
    margin-bottom: 5rem;
}

.section-consulting{
    @extend %grid-position;
    grid-template-columns: repeat(2, 1fr);
    padding: 120px 0;
}

.droite h1{
    font-size: 3rem;
    letter-spacing: 3.2px;
    font-weight: 500;
    margin-bottom: 1.3rem;
    color: $dark-color;
}

.droite p{
    font-size: .87rem;
    font-weight: 400;
    color: $dark-color;
    margin-bottom: 2rem;
}

.droite a{
    color: $light-color;
    background: $second-color;
    padding: 7px 20px;
    border-radius: 0 15px 0 15px;
    cursor: pointer;
    border: 2px solid transparent;
    transition: all .6s;
    font-size: 16px;
    transition: background .4s ease-out;

    &:hover{
        background: $first-color;
    }
}

// footer
footer{
    width: 100%;
}

.line1{
    width: 100%;
    background: $dark-color;
    opacity: .1;
    margin-bottom: 3rem;
}

.line2{
    width: 100%;
    background: $dark-color;
    opacity: .1;
    margin-bottom: 1rem;
}

.line3{
    width: 100%;
    background: $dark-color;
    opacity: .1;
    margin-bottom: 1rem;
}

.footer-content{
    @extend %grid-position;
    grid-template-columns: repeat(auto-fill, minmax(180px, 1fr));
    // place-items: center;
    gap: 1rem;
    margin-bottom: 3rem;
}

.footer-logo{
    @extend %flex-position;
    column-gap: 1rem;
    margin-bottom: 1rem;
}

.footer-contact{
    padding-right: 2rem;
}

.footer-logo > img{
    display: block;
    width: 1.5rem;
}

.footer-logo > p{
    font-weight: 600;
    color: $dark-color;
    font-size: 1.5rem;
    letter-spacing: 2px;
}

.footer-contact > p{
    font-size: 14px;
    color: $dark-color;
    font-weight: 400;
    margin-bottom: 1.5rem;
}

.footer-social{
    display: inline-flex;
    column-gap: .8rem;
}

.footer-social > a{
    display: block;
    cursor: pointer;
    color: $dark-color;
    opacity: .3;
    transition: opacity .4s ease-out;
    i{
        font-size: 1.3rem;
    }
    &:hover{
        opacity: 1;
    }
}

.footer-content > ul > .list-title{
    font-size: 1rem;
    margin-bottom: 1.5rem;
    font-weight: 500;
    color: $dark-color;
    line-height: 16px;
}

.footer-content > ul > li > a{
    display: block;
    font-size: .898rem;
    font-weight: 400;
    color: $dark-color;
    line-height: 16px;
    margin: .8rem 0;
    transition: opacity .4s ease-out;
    &:hover{
        opacity: .7;
    }
}

.footer-author{
    display: flex;
    justify-content:space-between;
    gap: 2rem;
    flex-wrap: wrap;
    margin-bottom: 3rem;

}

.footer-author .data{
    display: flex;
    gap: 1rem;
    flex-wrap: wrap;
}

.footer-author p{
    color: $dark-color;
    font-weight: 400;
    font-size: 16px;
    line-height: 16px;
}

footer .dev-container{
    @extend %flex-position;
    margin-bottom: 3rem;
}

// up button
.up-btn{
    position: fixed;
    bottom: 2rem;
    right: 1rem;
    background: $first-color;
    padding: .7rem;
    font-size: 1.5rem;
    color: $light-color;
    border-radius: 5px;
    transition: transform .4s ease-out;
    display: none;

    &:hover{
        transform: translateY(-7px);
    }
}

.up-btn.active{
    display: block;
}

.annonce{
    position: absolute;
    top: 0;
    left: 0;
    font-size: 1.2rem;
    letter-spacing: .5rem;
}

// sroll bar
::-webkit-scrollbar{
    width: 7px;
    background-color: $light-color;
}

  ::-webkit-scrollbar-track{
      background-color: $second-color;
  }
  
  ::-webkit-scrollbar-thumb{
    background-color: rgb(49, 49, 49);
  }
  
  ::-webkit-scrollbar-thumb:hover{
    background-color: $light-color;
  }