.color{
$first-color:hsla(161, 84%, 39%, 1);
$second-color: hsla(30, 95%, 62%, 1);
$light-color: hsla(0, 0%, 99%, 1);
$dark-color: hsla(232, 26%, 28%, 1);
}
.font-weight{
$medium-weight: 500;
$regular-weight: 400;
}




$body-font: 'Raleway', sans-serif;
