@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@400;500&display=swap");
@import './_mixins.scss';
@import './_variables.scss';
@import './_placeholders.scss';

.mentor, .cours-section, .cours-content, .footer-logo, footer .dev-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.section__training > .container, .teacher, .teacher__content, .training > .form-training, .section-consulting, .footer-content {
  display: -ms-grid;
  display: grid;
  gap: 4rem;
}

*, ::before, ::after {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  width: 100%;
  max-width: 1920px;
  font-family: "Raleway", sans-serif;
  position: relative;
}

a {
  text-decoration: none;
}

ul {
  list-style-type: none;
}

.container {
  margin-left: 135px;
  margin-right: 135px;
}

header {
  width: 100%;
  height: 70px;
  padding: 30px 0;
  position: fixed;
  top: 0;
  left: 0;
  background: transparent;
  z-index: 10;
  -webkit-transition: .10s ease-out;
  transition: .10s ease-out;
  background: #10b782;
}

header.active {
  background: #10b782;
}

.nav-bar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.logo img {
  display: block;
  width: 2rem;
}

.menu__toggle {
  display: block;
}

.menu__toggle i {
  font-size: 2rem;
  color: #fcfcfc;
}

.nav__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 1rem;
          column-gap: 1rem;
}

.nav__list > li > a {
  color: #353a5a;
  font-size: 16px;
  font-weight: 500;
  cursor: pointer;
  -webkit-transition: .4s;
  transition: .4s;
}

.nav__list > li > a:hover {
  color: #fcfcfc;
}

.active-link {
  border-bottom: 2px dashed #fa9e42;
  -webkit-transition: .4s;
  transition: .4s;
}

.menu__toggle {
  display: none;
  cursor: pointer;
}

.section__hero {
  width: 100%;
  height: auto;
  background: #10b782;
  padding: 8rem 0;
}

.hero {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 4rem;
          column-gap: 4rem;
}

.social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  row-gap: 1rem;
  margin-bottom: 4rem;
}

.social a {
  color: #fcfcfc;
  -webkit-transition: color .4s ease-out;
  transition: color .4s ease-out;
}

.social a:hover {
  color: #fa9e42;
}

.social a i {
  font-size: 1.5rem;
}

.left-part,
.rigth-part {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.left-img > img {
  width: 200px;
  height: 250px;
}

.description {
  text-align: center;
  margin-top: 6rem;
    -webkit-box-flex: 2;
      -ms-flex: 5;
          flex: 5;
}

.mentor {
  -webkit-column-gap: 1rem;
          column-gap: 1rem;
  margin-bottom: 2rem;
}

.mentor p {
  font-size: 1.6rem;
  line-height: 12px;
  font-weight: 500;
  color: #fcfcfc;
}

.description > h1 {
  font-size: 2.567rem;
  font-weight: 500;
  color: #fcfcfc;
  margin-bottom: 1rem;
  text-align: center;
  letter-spacing: 2.3px;
}

.description > p {
  color: #fcfcfc;
  position: relative;
  font-size: 15px;
  font-weight: 400;
  line-height: 20px;
  text-align: center;
  margin-bottom: 3rem;
}

.hero-button {
  color: #fcfcfc;
  background: #fa9e42;
  padding: 10px 12px;
  border-radius: 0 15px 0 15px;
  cursor: pointer;
  -webkit-transition: all .6s;
  transition: all .6s;
  font-size: 16px;
  border: 2px solid transparent;
}

.hero-button:hover {
  background: #10b782;
  border: 2px solid #fcfcfc;
}

.right-part > .right-img {
  margin-bottom: 4rem;
}

.right-part > .right-img > img {
  width: 200px;
  height: 250px;
}

.right-part > .down-button {
  text-align: right;
}

.right-part > .down-button img {
  width: 1rem;
  -webkit-animation: down 2s linear infinite;
          animation: down 2s linear infinite;
}

@-webkit-keyframes down {
  0% {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
  50% {
    -webkit-transform: translateY(15px);
            transform: translateY(15px);
  }
  100% {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
}

@keyframes down {
  0% {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
  50% {
    -webkit-transform: translateY(15px);
            transform: translateY(15px);
  }
  100% {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
}

.section__training {
  margin: 3rem 0;
}

.section__training > .container {
  -ms-grid-columns: (minmax(180px, 1fr))[auto-fill];
      grid-template-columns: repeat(auto-fill, minmax(180px, 1fr));
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.about-training {
  text-align: center;
}

.about-training > h1 {
  margin-bottom: 1rem;
  font-size: 2.1rem;
  color: #10b782;
  letter-spacing: 3px;
  font-weight: bold;
}

.about-training > p {
  color: #353a5a;
  font-size: 13px;
}

.section__teacher {
  width: 100%;
  margin-bottom: 5rem;
}

.teacher {
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.teacher__content {
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
  gap: 1.3rem;
}

.teacher__description > h1 {
  color: #353a5a;
  font-size: 2.5rem;
  font-weight: 500;
  margin-bottom: 1.3rem;
}

.teacher__description > p {
  color: #353a5a;
  font-weight: 500;
  font-size: 14px;
  padding: .123em;
  margin-bottom: 1.3rem;
}

.teacher__description > a {
  color: #fcfcfc;
  background: #10b782;
  padding: 10px 12px;
  border-radius: 0 15px 0 15px;
  cursor: pointer;
  border: 2px solid transparent;
  -webkit-transition: all .6s;
  transition: all .6s;
  font-size: 16px;
  -webkit-transition: background .4s ease-out;
  transition: background .4s ease-out;
}

.teacher__description > a:hover {
  background: #fa9e42;
}

.teacher__content .box {
  text-align: center;
}

.teacher__content .box > p {
  font-size: .87rem;
  font-weight: 400;
  color: #353a5a;
}

.teacher__content .box > img {
  width: 150px;
  height: 150px;
}

.training {
  width: 100%;
  background: #10b782;
  padding: 5rem 0;
}

.training > .form-training {
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 4rem;
          column-gap: 4rem;
  color: #fcfcfc;
}

.form-training > .part-left > img {
  width: 100%;
}

.training .part-left {
  position: relative;
}

.training .part-left .dashed-contour {
  position: absolute;
  border: 2px dashed #fcfcfc;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  -webkit-transform: translate(20px, -20px);
          transform: translate(20px, -20px);
  border-radius: 0 120px 0 0;
}

.form-training > .part-right > h1 {
  font-size: 2.5rem;
  letter-spacing: 3px;
  font-weight: 500;
  margin-bottom: 1.3rem;
}

.form-training > .part-right > p {
  font-weight: 400;
  font-size: 14px;
  margin-bottom: 1.3rem;
}

.form-training > .part-right > a {
  color: #fcfcfc;
  background: #fa9e42;
  padding: 7px 20px;
  border-radius: 0 15px 0 15px;
  cursor: pointer;
  border: 2px solid transparent;
  -webkit-transition: all .6s;
  transition: all .6s;
  font-size: 16px;
  -webkit-transition: background .4s ease-out;
  transition: background .4s ease-out;
  border: 2px solid transparent;
}

.form-training > .part-right > a:hover {
  background: #10b782;
  border: 2px solid #fcfcfc;
}

.cours {
  width: 100%;
  margin: 5rem 0;
}

.cours-section {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.cours-section > h1 {
  font-size: 2.5rem;
  letter-spacing: 3px;
  font-weight: 500;
  margin-bottom: 1.3rem;
  text-align: center;
  color: #353a5a;
}

.cours-content {
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.cours-content > a {
  max-width: 250px;
  padding: 0 10px;
  -webkit-transition: -webkit-transform .4s ease-out;
  transition: -webkit-transform .4s ease-out;
  transition: transform .4s ease-out;
  transition: transform .4s ease-out, -webkit-transform .4s ease-out;
}

.cours-content > a:hover {
  -webkit-transform: translate(7px, -7px);
          transform: translate(7px, -7px);
}

.cours-content > a > img {
  max-width: 250px;
}

.cours-section > .btn-cours {
  color: #fcfcfc;
  background: #10b782;
  padding: 7px 20px;
  border-radius: 0 15px 0 15px;
  cursor: pointer;
  border: 2px solid transparent;
  -webkit-transition: all .6s;
  transition: all .6s;
  font-size: 16px;
  -webkit-transition: background .4s ease-out;
  transition: background .4s ease-out;
}

.cours-section > .btn-cours:hover {
  background: #fa9e42;
}

.consulting {
  width: 100%;
  background: url("../src/components/imgs/12.png");
  background-size: cover;
  background-position: right;
  background-repeat: no-repeat;
  margin-bottom: 5rem;
}

.section-consulting {
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
  padding: 120px 0;
}

.droite h1 {
  font-size: 3rem;
  letter-spacing: 3.2px;
  font-weight: 500;
  margin-bottom: 1.3rem;
  color: #353a5a;
}

.droite p {
  font-size: .87rem;
  font-weight: 400;
  color: #353a5a;
  margin-bottom: 2rem;
}

.droite a {
  color: #fcfcfc;
  background: #fa9e42;
  padding: 7px 20px;
  border-radius: 0 15px 0 15px;
  cursor: pointer;
  border: 2px solid transparent;
  -webkit-transition: all .6s;
  transition: all .6s;
  font-size: 16px;
  -webkit-transition: background .4s ease-out;
  transition: background .4s ease-out;
}

.droite a:hover {
  background: #10b782;
}

footer {
  width: 100%;
}

.line1 {
  width: 100%;
  background: #353a5a;
  opacity: .1;
  margin-bottom: 3rem;
}

.line2 {
  width: 100%;
  background: #353a5a;
  opacity: .1;
  margin-bottom: 1rem;
}

.line3 {
  width: 100%;
  background: #353a5a;
  opacity: .1;
  margin-bottom: 1rem;
}

.footer-content {
  -ms-grid-columns: (minmax(180px, 1fr))[auto-fill];
      grid-template-columns: repeat(auto-fill, minmax(180px, 1fr));
  gap: 1rem;
  margin-bottom: 3rem;
}

.footer-logo {
  -webkit-column-gap: 1rem;
          column-gap: 1rem;
  margin-bottom: 1rem;
}

.footer-contact {
  padding-right: 2rem;
}

.footer-logo > img {
  display: block;
  width: 1.5rem;
}

.footer-logo > p {
  font-weight: 600;
  color: #353a5a;
  font-size: 1.3rem;
  letter-spacing: 2px;
}

.footer-contact > p {
  font-size: 14px;
  color: #353a5a;
  font-weight: 400;
  margin-bottom: 1.5rem;
}

.footer-social {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-column-gap: .8rem;
          column-gap: .8rem;
}

.footer-social > a {
  display: block;
  cursor: pointer;
  color: #353a5a;
  opacity: .3;
  -webkit-transition: opacity .4s ease-out;
  transition: opacity .4s ease-out;
}

.footer-social > a i {
  font-size: 1.3rem;
}

.footer-social > a:hover {
  opacity: 1;
}

.footer-content > ul > .list-title {
  font-size: 1rem;
  margin-bottom: 1.5rem;
  font-weight: 500;
  color: #353a5a;
  line-height: 16px;
}

.footer-content > ul > li > a {
  display: block;
  font-size: .898rem;
  font-weight: 400;
  color: #353a5a;
  line-height: 16px;
  margin: .8rem 0;
  -webkit-transition: opacity .4s ease-out;
  transition: opacity .4s ease-out;
}

.footer-content > ul > li > a:hover {
  opacity: .7;
}

.footer-author {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 2rem;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-bottom: 3rem;
}

.footer-author .data {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 1rem;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.footer-author p {
  color: #353a5a;
  font-weight: 400;
  font-size: 16px;
  line-height: 16px;
}

footer .dev-container {
  margin-bottom: 3rem;
}

.up-btn {
  position: fixed;
  bottom: 2rem;
  right: 1rem;
  background: #10b782;
  padding: .7rem;
  font-size: 1.5rem;
  color: #fcfcfc;
  border-radius: 5px;
  -webkit-transition: -webkit-transform .4s ease-out;
  transition: -webkit-transform .4s ease-out;
  transition: transform .4s ease-out;
  transition: transform .4s ease-out, -webkit-transform .4s ease-out;
  display: none;
}

.up-btn:hover {
  -webkit-transform: translateY(-7px);
          transform: translateY(-7px);
}

.up-btn.active {
  display: block;
}

.annonce {
  position: absolute;
  top: 0;
  left: 0;
  font-size: 1.2rem;
  letter-spacing: .5rem;
}

::-webkit-scrollbar {
  width: 7px;
  background-color: #fcfcfc;
}

::-webkit-scrollbar-track {
  background-color: #fa9e42;
}

::-webkit-scrollbar-thumb {
  background-color: #313131;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #fcfcfc;
}

*, ::before, ::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@media only screen and (max-width: 1920px){

  .description > h1{
      font-size: 2.5rem;
  }
  


}

 /* ========== Desktop First =============== */

/* Large Devices, Desktop */
@media only screen and (max-width: 1440px){
  .right-part{
      display: none;
  }

  .teacher{
      grid-template-columns: repeat(1, 1fr);
  }

  .footer-content{
      place-items: start;
  }
}


/* Small Devices, Tablest */
@media only screen and (max-width: 768px){
  .container{
      margin-left: 30px;
      margin-right: 30px;
  }

  nav{
      position: fixed;
      top: 3.1rem;
      left: -100%;
      width: 100%;
      height: 100vh;
      background: hsla(161, 84%, 39%, 1);
      text-align: center;
      padding-top: 5rem;
      transition: .4s ease-out;
      z-index: 100;
  }


  .nav__list{
      display: flex;
      flex-direction: column;
      row-gap: 3rem;
  }

  .nav__list > li{
      text-transform: uppercase;
      font-weight: 500;
      line-height: 23px;
      letter-spacing: 2px;
  }

  .active-link{
     border: none;
  }

  .menu__toggle{
      display: block;
  }

  .right-part,
  .left-part{
  display: none;
 }

 .training > .form-training{
  grid-template-columns: repeat(1, 1fr);
  justify-content: center;
 }

 .form-training > .left-part > img{
     width: 70%;
 }

 .gauche{
     display: none;
 }

 .droite h1{
  font-size: 2.5rem;
 }
}

/* Extra Small Devices, Phones */
@media only screen and (max-width: 520px){

  header{
      padding-top: 20px;
  }

  .container{
      margin-left: 10px;
      margin-right: 10px;
  }

  .teacher__content{
      grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
  }

  .dashed-contour{
      display: none;
  }

  .droite h1{
      font-size: 2rem;
     }

}

/* Custom, Iphone Retina */
@media only screen and (max-width: 320px){

  .droite h1{
      font-size: 1.5rem;
     }
}


/* show header */
.active-menu{
  left: 0;
}

/* animation */
.left-img > img,
.right-img > img{
  opacity: 0;
  transform: scale(.7);
  animation: appear-hero 1.5s ease-in-out forwards ;
}
.header {
  opacity: 0.1;
  animation: appear-hero 0.3s ease-in-out forwards ;
}

@keyframes appear-hero{
  100%{
      opacity: 1;
      transform: scale(1);
  }
}
